.alert-modal {
    display: none;
    position: absolute;
    z-index: 2000;
    padding: auto;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.alert-modal-content {
    background-color: #f4f4f4;
    margin: 15% auto;
    width: 500px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    animation-name: modalopen;
    animation-duration: 1s;
}

.alert-modal-header h2,
.alert-modal-footer h3 {
    margin: 0;
}

.alert-modal-header {
    background-color: coral;
    padding: 15px;
    color: #fff;
}

.alert {
    color: rgb(240, 95, 43);
}

.closeBtn {
    color: #fff;
    float: right;
}

.closeBtn:hover,
.closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.alert-modal-body {
    padding: 10px 20px;
}

.alert-modal-footer {
    color: #fff;
    background-color: coral;
    padding: 10px;
    text-align: center;
}

@keyframes modalopen {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}