#box {
    width: 350px;
    margin: 0px auto;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
}

input {
    width: 260px;
    border: 1px solid #e2e2e2;
    height: 40px;
    border-radius: 50px;
    float: left;
    background-image: url(../img/搜索.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 5px center;
    padding: 0 0 0 40px;
}

#search {
    width: 78px;
    height: 32px;
    float: right;
    background: #C77433;
    color: white;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
}

.fontsize {
    font-size: 20px;
    padding-right: 40px;
}

.gap {
    padding-right: 10px;
}

.left-up {
    position: relative;
    top: 10px;
    left: 10px;
}

.border-round {
    border-radius: 20px;
}

.border-teal {
    border-color: #20c997;
}