 /* mailbox.html的相关css
 Created by cyx on 2022.5.20 */
:root{
    --sidebar-bg-color:#060C20;
}

.sidebar_item {
    font-size: calc(1.275rem + .3vw)!important;    
    color: #fff!important;
}
.sidebar_header {
    font-size: calc(1.275rem + .3vw)!important;    
    color: #fff!important;
    padding: 5px;
}

.text-blue {
    color: #54B5E7;
}
/* 黑色侧边栏 */
.sidebar{
    position:fixed;
    top:0;
    width: 150px;
    background-color: var(--sidebar-bg-color);
    height: 100%;    
}


.driver-col-md-4{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 10px;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.driver-list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;   
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.125);    
}
.driver-list-img{
    width: 200;
    height: 200px;
    align-self: center;
}
.driver-list-group-item+.driver-list-group-item {
    border-top-width: 0;
}
.panel > .list-group .driver-list-group-item{
    border-width: 1px 0;
    border-radius: 0;
}
sidebar-hr{
    height: 1px;
    margin:0 20px 20px 20px;
    color: #fff;
    background-color: #fff;
    border: 0;
    opacity: .25;  /*不透明度*/  
}
.nav-link.active{
    color: #fff;
    background-color: #0d6efd;
}
/* 用于sidebar 未读红点 */
ul redpoint{
    position: absolute;
    box-sizing: border-box;
    min-width: 1rem;
    padding: 0 0.1875rem;
    color: #fff;
    font-size: min(.75rem, calc(10000px - var(--num) * 100px));
    line-height: 1.2;
    text-align: center;
    background-color: #eb4646;
    border: 1px solid #fff;
    border-radius: 1rem;
    transform: translate(6rem, -1.74rem);
    /* 数值为0的时候隐藏 */
    opacity: var(--num);
}
/* navbar未读红点 */
nav redpoint{
    position: absolute;
    box-sizing: border-box;
    min-width: 1rem;
    padding: 0 0.1875rem;
    color: #fff;
    font-size: min(.75rem, calc(10000px - var(--num) * 100px));
    line-height: 1.2;
    text-align: center;
    background-color: #eb4646;
    border: 1px solid #fff;
    border-radius: 1rem;
    transform: translate(0, 1rem);
    /* 数值为0的时候隐藏 */
    opacity: var(--num);
}
redpoint::before{
    content: '99+';
    font-size: min(.75rem, calc(var(--num) * 100px - 9900px));
}