body,
html {
    width: 100%;
    height: 100%;
}

.sidebar {
    background: #050c20;
    float: right;
    width: 200px;
    height: 100vh;
    margin-right: -200px;
    transition: 0.5s all;
}

.side {
    background: #050c20;
    overflow: auto;
    height: 85%;
    margin-right: 0;
}

.side-red {
    background: #050c20;
    overflow: auto;
    height: 85%;
    margin-right: 0;
}


/*靠边*/

.sidebar ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*去点*/

.sidebar ul li {
    list-style: none;
    height: 45px;
    width: 100%;
    line-height: 45px;
    transition: 0.2s all;
    cursor: pointer;
}

.sidebar ul ul li div a {
    padding-left: 20px;
    font-size: 15px;
    color: #FFFFFF;
}

.sidebar ul ul li div a::before {
    padding-left: 20px;
    font-size: 15px;
    color: #FFFFFF;
}

.sidebar ul li h6 {
    color: #54B5E7;
    line-height: 45px;
    margin-left: 10px;
}

.sidebar li:hover {
    background: #1f2e54;
}

.sidebar ul ul li:hover {
    background: #1f2e54;
    padding-left: 50px;
}

.btn {
    float: right;
    height: 45px;
    width: 120px;
    line-height: 27px !important;
    border: 2px solid #3A7EC6 !important;
    color: #FFFFFF !important;
    font-size: 14px !important;
    border-radius: 25px 0px 0px 25px !important;
    background-color: #3A7EC6!important;
    transition: 0.2s all;
}

.btn-red {
    position: relative;
    height: 45px;
    width: 120px;
    top: 10px;
    right: 14px;
    line-height: 37px !important;
    border: 2px solid #296fb9 !important;
    color: #FFFFFF !important;
    font-size: 14px !important;
    border-radius: 25px 0px 0px 25px !important;
    background-color: #296fb9!important;
    transition: 0.2s all;
}

.btn-red-clicked {
    width: 110px;
    right: 4px;
    transition: 0.2s all;
}

.btn-clicked {
    width: 110px;
    transition: 0.2s all;
}

.btn-clicked-red {
    right: 24px;
}


/* .btnc {
    float: right;
    padding-left: -100px;
    border: 2px solid #2c3e50;
    border-radius: 5px 0px 0px 5px;
    background-color: #2c3e50;
    cursor: pointer;
} */


/* .btn:before {
    content: url(../img/左滑\ \(1\).svg);
    width: 30px;
}

.btnc:before {
    content: '\f12a';
} */

.w100-h100 {
    width: 100%;
    height: 100%;
}